@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cart-title {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pokemon-info {
  display: flex;
  align-items: center;
}

.pokemon-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.product-details {
  flex-grow: 1;
}

.product-id {
  margin-bottom: 5px;
}

.quantity {
  font-weight: bold;
  margin-left: 10px; /* Adjust as needed */
}

.accessories {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.accessory-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.remove-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.remove-button:hover {
  background-color: #cc0000;
}

/* Responsive design */
@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .pokemon-image {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .accessory-image {
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }

  .product-details,
  .quantity {
    margin: 0;
  }

  .remove-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
